*{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{background:#f0f0f0}
ul{list-style-type:none}
a{text-decoration:none}
h1{color:#FFF;font-size:24px;font-weight:400;text-align:center;margin-top:80px}
h1 a{color:#c12c42;font-size:16px}
.accordion{width:100%;max-width:360px;background:#FFF;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px; overflow:hidden; margin:0;}
.accordion .link{cursor:pointer;display:block;padding:15px 25px 15px 42px;color:#4D4D4D;font-size:14px;font-weight:normal;border-bottom:1px solid #CCC;position:relative;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
.accordion li:last-child .link{border-bottom:0}
.accordion li i{position:absolute;top:18px;left:12px;font-size:16px;color:#595959;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
.accordion li i.fa-chevron-down{right:12px;left:auto;font-size:12px}
.accordion li.open .link{color:#b63b4d}
.accordion li.open i{color:#b63b4d}
.accordion li.open i.fa-chevron-down{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.accordion li.default .submenu{display:block}
.submenu{display:none;background:#444359;font-size:14px; margin:0;}
.submenu li{border-bottom:1px solid #4b4a5e; margin:0 !important}
.submenu li.active a{background:#b63b4d;color:#FFF}
.submenu a{display:block;text-decoration:none;color:#d9d9d9;padding:12px;padding-left:15px;-webkit-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease; outline:none !important}
.submenu a:hover{background:#b63b4d;color:#FFF; text-decoration:none !important}
.sidebar-nav, .nav .nav-header{padding:0 !important; margin:0;}
.nav li + .nav-header {margin-top: 0px;}
.nav .nav-header{background:rgba(255,255,255,1)}
.dashboard-menu .link a{color: #4D4D4D}
.dashboard-menu .link.active a{color: #b63b4d;}